@use "../../styles/" as *;

.NavBar {
	width: 100%;
	height: 8rem;
	background-color: $primary;
	color: white;
	text-transform: uppercase;
	font-size: 2.5rem;
	@include displayFlex(0, row, center);
	align-items: center;
	position: sticky;
	top: 0;
	padding-right: 15rem;
}
