@use "../../styles/" as *;

.ClientCard {
	@include displayFlex(1rem);
	align-items: center;
	justify-content: space-between;
	background-color: $grey;
	border-radius: 1rem;
	padding: 0.5rem 2rem;

	.ClientCard__details {
		@include displayFlex(1rem);
		align-items: center;
		overflow: hidden;

		.ClientCard__client {
			font-size: 2rem;
			white-space: nowrap;
		}
		.ClientCard__abv {
			text-transform: uppercase;
			font-size: 0.8rem;
		}
	}
	.ClientCard__button {
		background-color: $light;
		font-size: 1.2rem;
	}
}
